*{
  margin: 0;
  padding: 0;
}

.header{
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.header .catalog-menu {
  position: relative;
}

.header .account-button {
  background-color: #2563eb; 
  color: white;
  padding: 8px 16px; 
  border-radius: 8px;
  transition: background-color 0.3s;
}

.header .account-button:hover {
  background-color: #1d4ed8; 
}

.header .catalog-menu .dropdown {
  position: absolute;
  left: 0;
  margin-top: 8px;
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .catalog-menu:hover .dropdown {
  display: block;
}

.header .catalog-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header .catalog-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.header .catalog-menu li:hover {
  color: #f3f4f6; 
  background-color: black 
}